<header>
  <div class="container moular-header">
      <div class="d-flex justify-content-between">
        <div class="logo"></div>
        <div class="bg-block"></div>
      </div>
  </div>

  <nav class="navbar modulr-navbar">
    <div class="container">
        <div class="pr-4">
          <div class="selected">
              <a href="#">
                Dashboard
              </a>
          </div>
        </div>
        <div class="pr-4">
          <div class="">
              <a href="#">
                  Reports
              </a>
          </div>
        </div>
        <div class="pr-4">
          <div class="">
              <a href="#">
                  Admin
              </a>
          </div>
        </div>
    </div>
  </nav>
</header>

<section>
 <app-search (searchEvent)="searchResults($event)"></app-search>
</section>

<section>
  <div class="loader" *ngIf="searchInProgess">
    <img class="spinner" src="./../assets/images/spinner.svg"/>
  </div>
  <div class="error" *ngIf="!searchInProgess && errorMsg">
    No Results Found!
  </div>
  <div class="container" *ngIf="!searchInProgess && !errorMsg">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Account ID</th>
              <th>Account name</th>
              <th>Account number</th>
              <th>Sort code</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of searchedResults">
              <td>{{ account.id }}</td>
              <td class="prominent">{{ account.name }}</td>
              <td>{{ account.identifiers[0].accountNumber }}</td>
              <td>{{ account.identifiers[0].sortCode }}</td>
              <td class="prominent">{{ account.balance | currency:'GBP': '£' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</section>
